<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{event.name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/static/css/jquery-ui.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../..">Eventorer</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{event.name}}</p>
                <div class="list-group">
                    <a class="list-group-item page-scroll" href="#introduction" class="list-group-item active">Introduction</a>
                    <a class="list-group-item page-scroll" href="#performers" class="list-group-item">Performers</a>
                    <a class="list-group-item page-scroll" href="#tickets" class="list-group-item">Tickets</a>
                    <a class="list-group-item page-scroll" href="#participants" class="list-group-item">Participants</a>
                </div>
                <button id="ptc" type="button page-scroll" class="btn btn-warning btn-block">Participates This Event</button>
            </div>

            <label id="eid" style="display: none">{{event.eid}}</label>

            <div class="col-md-9">

                <div id='introduction' class="thumbnail">
                    <img style="width: 500px;height: 300px" class="img-responsive" src="{{event.image}}" alt="">
                    <div class="caption-full">
                        <h4>{{event.name}}</h4>
                        <p>description: {{event.description}}</p>
                        <p>category: {{event.category}}</p>
                        {% for venue in venues%}
                            <p>location: {{venue.location}}</p>
                        {% endfor %}
                    </div>
                </div>

                <div id="performers" class="well">
                    <div class="caption-full">
                        <h4>Performers</h4>
                             <div class="row">
                                {% for performer in performers %}
                                <div class="col-md-4">
                                    <a href="../performer/{{performer.pid}}">{{performer.name}}</a>
                                    {% if performer.image != 'None' %}
                                        <img class="img-responsive" src="{{performer.image}}" alt="">
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div> 
                    </div>
                </div>

                <div id="tickets" class="well">
                    <h4>Tickets</h4>
                    {% for ticket in tickets %}
                        <div class="row">
                            <div class="col-md-12">
                                <a href="{{ticket.url}}">{{ticket.happen_date}}</a>
                                <a style="color:red;cursor: pointer" id="{{ticket.tid}}" class="glyphicon glyphicon-heart"></a>
                                <span class="pull-right">${{ticket.price}}</span>
                            </div>
                        </div> 
                    {% endfor %}
                </div>

                <div id="participants" class="well">
                    <h4>Participants</h4>
                    {% for p in participants %}
                        <div class="row">
                            <div class="col-md-12">
                                <a href="../users/{{p.uid}}">{{p.name}}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>COMS W4111: Introduction to Databases, SEAS, Columbia University</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/agency.js"></script>
    <script src="/static/js/favo.js"></script>

</body>

</html>
