<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{performer.name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../..">Evertorer</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{performer.name}}</p>
                <div class="list-group">
                    <a class="list-group-item page-scroll" href="#introduction" class="list-group-item active">Introduction</a>
                    <a class="list-group-item page-scroll" href="#events" class="list-group-item">Events</a>
                </div>
            </div>

            <div class="col-md-9">

                <div id='introduction' class="thumbnail">
                    <img style="width: 500px;height: 300px" class="img-responsive" src="{{performer.image}}" alt="">
                    <div class="caption-full">
                        <h4>{{performer.name}}</h4>
                        <p>type: {{performer.type}}</p>
                    </div>
                </div>

                <div id="events" class="well">
                    <div class="caption-full">
                        <h4>Events</h4>
                        <div class="row">
                            {% for event in events %}
                                <div class="col-md-4">
                                    <img class="img-responsive" src="{{event.image}}" alt="">
                                    <a href="../event/{{event.eid}}">{{event.name}}</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>COMS W4111: Introduction to Databases, SEAS, Columbia University</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
